# ETL: BUSINESS INTELLIGENCE

In [2]:
import pandas as pd

# 1. Carga de Datos

In [3]:
nm      = pd.read_csv("Datasets/name_basics.tsv", sep='\t')         # name_basics
tt      = pd.read_csv("Datasets/title_basics.tsv", sep='\t')        # title_basics
rating  = pd.read_csv("Datasets/title_ratings.tsv", sep='\t')       # title_ratings
tp      = pd.read_csv("Datasets/title_principals.tsv", sep='\t')    # title_principals

c:\Users\alama\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
# nm
# tt
# rating
tp

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,None,"[""Self""]"
1,tt0000001,2,nm0005690,director,None,None
2,tt0000001,3,nm0374658,cinematographer,director of photography,None
3,tt0000002,1,nm0721526,director,None,None
4,tt0000002,2,nm1335271,composer,None,None
...,...,...,...,...,...,...
55393270,tt9916880,4,nm10535738,actress,None,"[""Horrid Henry""]"
55393271,tt9916880,5,nm0996406,director,principal director,None
55393272,tt9916880,6,nm1482639,writer,None,None
55393273,tt9916880,7,nm2586970,writer,books,None
55393274,tt9916880,8,nm1594058,producer,producer,None

# 2. Limpieza de Datos

### 2.1. Estandarizacion

In [4]:
nm.replace({"\\N": None, "Nan": None}, inplace=True)
tt.replace({"\\N": None, "Nan": None}, inplace=True)
rating.replace({"\\N": None, "Nan": None}, inplace=True)
tp.replace({"\\N": None, "Nan": None}, inplace=True)

In [14]:
tp.isnull().sum()

tconst               0
ordering             0
nconst               0
category             0
job           46312598
characters    28528438
dtype: int64